<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!-- ============================================= -->
  <!-- Application settings                          -->
  <!-- ============================================= -->
  <appSettings>
    <add key="ServiceName" value="DeployAgent 172.16.34.193:5555" />
    <add key="ServiceDescription" value="This service invokes a Batch file, based on Remote commands from Teamcity." />
  </appSettings>
  <system.diagnostic>
    <trace indentsize="4" autoflush="true">
      <listeners>
        <clear/>
        <add name="TracingWritingListener" Type="System.Diagnostic.TextWriterTraceListener" InitializeData="Traceoutput.log"/>
      </listeners>
    </trace>
  </system.diagnostic>
  
</configuration>